@media (max-width: 1024px) {
    .main-container {
        max-width: 90%;
    }

    .services-wrapper,
    .blogs-wrapper {
        gap: 24px;
    }

    .popup-content {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .header-container {
        width: 96%;
    }

    .header-container {
        position: relative;
    }

    .menu-toggler {
        display: block;
    }

    .menu-list {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        gap: 28px;
        position: absolute;
        top: calc(100% + 18px);
        left: 0;
        right: 0;
        height: auto;
        width: 100%;
        padding: 32px;
        background: var(--primary-color);
    }

    .menu-list.active {
        display: flex;
    }

    .menu-item {
        text-align: center;
    }

    .main-container {
        max-width: 96%;
    }

    .homeSwiper h2 {
        font-size: 48px;
    }

    .about-section .flex-wrapper,
    .our-work-section .flex-wrapper {
        gap: 0;
    }

    .heading .subtitle {
        max-width: 80%;
        margin: auto;
    }

    .services-wrapper,
    .blogs-wrapper {
        gap: 16px;
    }
}

@media (max-width: 425px) {
    .section-title.mobile-title {
        display: block;
    }

    .desktop-title {
        display: none;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }

    .homeSwiper h2 {
        font-size: 28px;
    }

    .homeSwiper p {
        max-width: 100%;
    }

    .cta-btns-container {
        flex-direction: column;
    }

    .homeSwiper .btn {
        width: 300px;
    }

    .about-section .flex-wrapper {
        flex-direction: column-reverse;
    }

    .two-cols .col {
        width: 100%;
    }

    .about-section .flex-wrapper {
        gap: 24px;
    }

    .open-popup-col {
        display: none;
    }

    .blogs-wrapper {
        flex-direction: column;
        row-gap: 28px;
    }

    .contact-section .flex-wrapper {
        flex-direction: column-reverse;
    }
}